[submodule "lib/lunatik"]
	path = lib/lunatik
	url = https://github.com/VictorNogueiraRio/lunatik.git
[submodule "lib/luaunpack"]
	path = lib/luaunpack
	url = https://github.com/VictorNogueiraRio/luaunpack.git
