[submodule "lib/luadata"]
	path = lib/luadata
	url = https://github.com/lneto/luadata.git
[submodule "lib/lunatik"]
	path = lib/lunatik
	url = https://github.com/VictorNogueiraRio/lunatik.git
[submodule "lib/xdplua"]
	path = lib/xdplua
	url = https://github.com/VictorNogueiraRio/xdplua.git
[submodule "lib/luaunpack"]
	path = lib/luaunpack
	url = https://github.com/VictorNogueiraRio/luaunpack.git
